---
layout: default.njk
pagination:
    data: competencies
    size: 1
    addAllPagesToCollections: true
    alias: item
permalink: "{{ competencies[item].url }}/index.html"
eleventyComputed:
  title: "{{ competencies[item].name }}"
---
{% from 'macros.njk' import courseTable with context%}
{% set competency = competencies[item] %}

{{ courseTable(competency.courses) }}

{% if competency.selfStudy %}
<h3>Samostudium<h3>
{% for item in competency.selfStudy %}
    <h4>{{ item.title }}</h4>
    {{ item.description | safe }}
{% endfor %}    
{% endif %}

<h3>Czechitas tým</h3>
<ul>
    <li>Produktový manažer: {{ role.team.po }} </li>
    <li>Garant vzdělání: {{ role.team.garant }} </li>
    <li>Expertní tým: {{ role.team.experts }} </li>
</ul>
{% if role.partners %}
<h3>Partneři</h3>
{% for partnerId in role.partners %}
    {% set partner = collections.partners | getPartner(partnerId) %}
    {% set item = partner.data.item %}
    <a href="{{ partner.page.url }}" style="margin:15px">{% image item.logo, item.name %}</a>
{% endfor %}
{% endif %}
