---
layout: default.njk
pagination:
    data: courses.data
    size: 1
    addAllPagesToCollections: true
    alias: item
permalink: "kurzy/{{ [item.Code, ': ', item.Name] | join | slugify }}/index.html"
eleventyComputed:
  title: "{{ item.Name }}"
---

{{ item | dump | safe }}
