---
layout: default.njk
pagination:
    data: roles
    size: 1
    addAllPagesToCollections: true
    alias: item
permalink: "{{ roles[item].url }}/index.html"
eleventyComputed:
  title: "{{ roles[item].name }}"
---
{% from 'macros.njk' import courseTable with context%}
{% set role = roles[item] %}
{% image role.avatar, role.name %}

<h3>Co {{ role.name }} dělá?</h3>
<p>{{ role.aboutRole }}</p>

<h3>{{ role.name }} tě bude bavit, pokud ...</h3>
<ul>
{% for item in role.enjoyRole %}
    <li>{{ item }}</li>
{% endfor %}
</ul>

<h3>Potřebné dovednosti</h3>
<ul>
{% for item in role.competences %}
    <li>{{ item }}</li>
{% endfor %}
</ul>

{% if salary[item] %}
<h3>Informace z firem</h3>
<ul>
    <li>Platové rozmezí: {{ salary[item].salary.min }}Kč - {{ salary[item].salary.max }}Kč</li>
    <li>Počet žen na pozici: {{ salary[item].womenInIT }}%</li>
</ul>
<p><i>Více informací na serveru <a href="{{salary[item].link}}">Platy.cz</a></i></p>
{% endif %}

<h3>Czechicesta</h3>
{% image role.pathImg, "Czechicesta" %}

{% if role.courses.intro %}
<h4>Úvodní kurzy oboru</h4>
<p>S těmito kurzy bys měla začít pokud o daném oboru nic nevíš:</p>
{{ courseTable(role.courses.intro) }}
{% endif %}

<h4>Základní kurzy oboru</h4>
{{ courseTable(role.courses.core) }}

<p>Pro větší uplatnitelnost doporučujeme naše kurzy <a href="/karierove-poradenstvi/">kariérového poradenství</a>.<p>

{% if role.courses.extended %}
<h4>Rozvojové kurzy oboru</h4>
{{ courseTable(role.courses.extended) }}
{% endif %}

{% if role.selfStudy %}
<h3>Samostudium<h3>
{% for item in role.selfStudy %}
    <h4>{{ item.title }}</h4>
    {{ item.description | safe }}
{% endfor %}    

{% endif %}

<h3>Czechitas tým</h3>
<ul>
    <li>Produktový manažer: {{ role.team.po }} </li>
    <li>Garant vzdělání: {{ role.team.garant }} </li>
    <li>Expertní tým: {{ role.team.experts }} </li>
</ul>
{% if role.partners %}
<h3>Partneři</h3>
{% for partnerId in role.partners %}
    {% set partner = collections.partners | getPartner(partnerId) %}
    {% set item = partner.data.item %}
    <a href="{{ partner.page.url }}" style="margin:15px">{% image item.logo, item.name %}</a>
{% endfor %}
{% endif %}
