---
layout: default.njk
pagination:
    data: subtopics
    size: 1
    addAllPagesToCollections: true
    alias: item
permalink: "{{ subtopics[item].url }}/index.html"
eleventyComputed:
  title: "{{ subtopics[item].name }}"
---
{% from 'macros.njk' import courseTable with context%}
{% set subtopic = subtopics[item] %}

{% if subtopic.roleDescription %}
{% set role = subtopic.roleDescription %}
{% image role.avatar, subtopic.name %}

<h3>Co {{ subtopic.name }} dělá?</h3>
<p>{{ role.aboutRole }}</p>
<h3>{{ subtopic.name }} tě bude bavit, pokud ...</h3>
<ul>
{% for item in role.enjoyRole %}
    <li>{{ item }}</li>
{% endfor %}
</ul>
<h3>Potřebné dovednosti</h3>
<ul>
{% for item in role.competences %}
    <li>{{ item }}</li>
{% endfor %}
</ul>
{% if salary[item] %}
<h3>Informace z firem</h3>
<ul>
    <li>Platové rozmezí: {{ salary[item].salary.min }}Kč - {{ salary[item].salary.max }}Kč</li>
    <li>Počet žen na pozici: {{ salary[item].womenInIT }}%</li>
</ul>
<p><i>Více informací na serveru <a href="{{salary[item].link}}">Platy.cz</a></i></p>
{% endif %}
{% endif %}

{% if subtopic.courses %}
{% set crs = subtopic.courses %}
{% if crs.pathImg%}
<h3>Czechicesta</h3>
{% image crs.pathImg, "Czechicesta", [800] %}
{% endif %}

{% if crs.intro %}
<h4>Úvodní kurzy oboru</h4>
<p>S těmito kurzy bys měla začít pokud o daném oboru nic nevíš:</p>
{{ courseTable(crs.intro) }}
{% endif %}

{% if crs.core %}
<h4>Základní kurzy oboru</h4>
{{ courseTable(crs.core) }}
{% endif %}

{% if crs.career %}
<p>Pro větší uplatnitelnost doporučujeme naše kurzy <a href="/karierove-poradenstvi/">kariérového poradenství</a>.<p>
{% endif %}

{% if crs.extended %}
<h4>Rozvojové kurzy oboru</h4>
{{ courseTable(crs.extended) }}
{% endif %}
{% endif %}


{% if subtopic.selfStudy %}
<h3>Samostudium<h3>
{% for item in subtopic.selfStudy %}
    <h4>{{ item.title }}</h4>
    {{ item.description | safe }}
{% endfor %}    
{% endif %}

{% if subtopic.team %}
{% set team = subtopic.team %}
<h3>Czechitas tým</h3>
<ul>
    <li>Produktový manažer: {{ team.po }} </li>
    <li>Garant vzdělání: {{ team.garant }} </li>
    <li>Expertní tým: {{ team.experts }} </li>
</ul>
{% endif %}

{% if subtopic.partners %}
<h3>Partneři</h3>
{% for partnerId in subtopic.partners %}
    {% set partner = collections.partners | getPartner(partnerId) %}
    {% set dataItem = partner.data.item %}
    <a href="{{ partner.page.url }}" style="margin:15px">{% image dataItem.logo, dataItem.name, [300] %}</a>
{% endfor %}
{% endif %}
