---
layout: default.njk
pagination:
    data: categories
    size: 1
    addAllPagesToCollections: true
    alias: item
    filter:
        - commercial
permalink: "{{ categories[item].url }}/index.html"
eleventyComputed:
  title: "{{ categories[item].name }}"
---
{% from 'macros.njk' import cards, courseLink with context%}
{% set category = categories[item] %}
{% if category.intro %}{% renderVariable category.intro, { introCourse: courseLink(category.introCourse) } %}{% endif %}
{% if category.topics %}{% for topic in category.topics %}
<h3>{{ topic.name }}</h3>
<p>{% renderVariable topic.description, { introCourse: courseLink(topic.introCourse) } %}</p>
{% if topic.subtopics %}{{ cards(subtopics, topic.subtopics) }}{% endif %}
{% endfor %}{% endif %}
