{% macro courseLink(id) %}{% set course = collections.courses | filterCourses(id) | first %}{% set item = course.data.item %}<a href="{{ course.page.url }}">{{item.Name}}</a>{% endmacro %}

{% macro courseTable(filter='') %}
<style>table td {padding: 10px} </style>
<table>
<thead>
    <tr><th>Kód kurzu</th><th>Název kurzu</th><th>Úroveň</th><th>Počet hodin</th></tr>
</thead>
<tbody>
{% for course in collections.courses | filterCourses(filter) %}
    {% set item = course.data.item %}
    <tr><td>{{item.Code}}</td><td><a href="{{ course.page.url }}">{{item.Name}}</a></td><td>{{item.Level}}</td><td>{{item.TeachingHours}}</td>
{% endfor %}
</tbody>
</table>
{% endmacro %}

{% macro card(link='', title='', description='', cta='') %}
   <div role="listitem" class="w-dyn-item"><a href="{{ link }}" class="varianty-block hp w-inline-block">
        <div class="varianty-content-block"><h3 class="heading-70">{{ title }}</h3></div>
        <div class="varianty-content-block feature"><p> {{ description }} </p></div>
        <div class="varianty-content-block feature with-button"><div class="button in-bubble">{{ cta }}</div></div></a>
    </div>
{% endmacro %}

{% macro cards(items, keys, margin = true) %}
<div class="w-dyn-list"><div role="list" class="collection-list-6 overflow w-dyn-items"{% if margin%} style="margin-top:0px"{% endif %}>
{% for key in keys  %}
{% set item = items[key] %}
{{ card(item.url, item.name, item.shortDescription, item.cta) }}
{% endfor %}
</div></div>
{% endmacro %}
